* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
    padding: 10px 0;
}

.logo {
    position: absolute;
    top: 15px;
    left: 70px;
    font-size: 30px;
}

.titleheader {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 20px;
    position: sticky;
    margin-left: 90px;
}


.intro-section {
    align-items: left;
    margin-top: 200px;
    margin-left: 90px;
}

.cups {
    position: absolute;
    width: 550px;
    transition: transform 0.4s ease;
    top: 30px;
    left: 700px;
}

.rectangle {
    position: absolute;
    width: 352px;
    height: 590px;
    background-image: linear-gradient(to right, #000000, #494848);
    top: 0%;
    left: 1000px;
}

.navlinks {
    display: flex;
    gap: 30px;
    position: absolute;
    bottom: 10px;
    left: 90px;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
}

.coffee:hover {
    color: grey
}

.cards {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px
    
}

.card-holder {
    background-color: #1E1E1E;
    padding: 30px;
    text-align: center;
    color: white;
    
}
.card-holder-right{
    display: flex;
    justify-content: flex-end;
}

.img-smaller {
    width: 7rem;
}

.shopnow {
    text-decoration: underline;
    color: black;
}

.coffee {
    text-decoration: none;
    color: black;
    gap: 20px;
}

.second-part {
    align-content: left;
    margin-top: 300px;
    margin-left: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 200px;
    
}

.third-part {
    align-items: left;
    margin-top: 200px;
    margin-left: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 150px;

}

.rectangle-blend {
    position: relative;
    right: -100px;
    box-sizing: border-box;
    border: 2px solid black;
    width: 400px;
    height: 550px;
    padding: 20px;
}

.rectangle-blend img {
    text-align: right;
    height: 500px;
    width: 300px;
    position: relative;
    right: 170px;
    
}

.blend-part-text {
    position: absolute;
    bottom: 5%;
    right: 20%;
}

.fourth-part {
    position: relative;
    right: 50px;
    margin-top: 200px;
    margin-left: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    justify-content: center;
}

.rectangle-roast {
    position: relative;
    left: 100px;
    background-color: #1E1E1E;
    width: 400px;
    height: 470px;
    padding: 20px;
    color: white;
}

.rectangle-roast img {
    height: 430px;
    width: 250px;
    position: relative;
    left: -150px; 
}

.roast-part-text {
    position: absolute;
    right: 20%;
}

.fifth-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 90px;
    
}

.bottom-area {
    text-align: center;
}

.newsletter-left {
    align-items: left;
    margin-left: 90px;
}

.newsletter-right input {
    align-items: right;
    margin-left: 90px;
    top: 100px;
    width: 300px;
    height: 20px;
    padding: 10px;
    border: 1px solid black;
    
}

.newsletter-right button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

footer {
    padding: 30px;
    text-decoration: none;
    color: black;
    
}

.footer-bottom {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 2fr 7fr 0.4fr;
    
}

.footer-text {
    display: flex;
    text-align: center;
}

.footer-text2 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}